html {

}
svg {
    width: 5em;
    height: 5em;
    margin: 10px;
}

.ucf {
    width: 15em;
    height: 15em;
}

.nav-icon {
    width: 2.5em;
    height: 2.5em;
    fill: #fb00b5;
}

.nav-icon:hover {

    fill: #620ae9;
}

/* .sticky-top {
    padding-right: 3em;
} */

body {
    background: rgba(0, 0, 0, 0.1);
    margin-top: -4em;
}

.main
{
    /* width: 100em; */
    background-color: white;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    border: 1px solid #fb00b5;
}
.main:before, .main:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.main:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.jumbotron {
    background-image: url(../assets/img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid #fb00b5;
    height: 45em;
    margin-bottom: -3em;
}

.tagline {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    width: 100%;
    border-top: 1px solid #fb00b5;
    border-bottom: 1px solid #fb00b5;
}

h1 {
    padding: 5px;
}

#tagline {
    padding: 5px;
}

#section-header {
    margin-top: 5em;
    margin-bottom: 3em;
}

.project {
    width: 20em;
    margin-bottom: 3em;
}

.card {
    margin: 0 auto;
}

.project-box {
    padding: 1em;
    margin-bottom: 5em;
}

.card:hover {
    border: 1px solid #fb00b5
}

.links {
    transition: 500ms;
}

.headline {
    font-family: 'Staatliches', cursive;
    font-size: 7em;
}

#tagline {
    font-family: 'Barlow', sans-serif;
    font-size: 2.5em;
}

#section-header {
    font-family: 'Barlow', sans-serif;
    font-size: 2em;
}

hr {
    background-color:#fb00b5;
    width: 3em;
}

#college-header {
    font-family: 'Barlow', sans-serif;
    font-size: 2em;
    -webkit-font-smoothing: antialiased;
}

.card-title {
    font-family: 'Barlow', sans-serif;
    font-size: 1.5em;
}

.card-subtitle {
    font-family: 'Barlow', sans-serif;
    color: #666;
    font-size: .9em;
}

#college-body {
    font-family: 'Barlow', sans-serif;
    color: #666;
    font-size: 1.25em;
}

.card-text {
    margin-top: 1em;
}

#bio {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    line-height: 1;
}